#about{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}


/*---------------------------les images-------------------------------*/

#about>div:not(.content){
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: auto;
}
#about>div:not(.content)>p{
    height: 100%;
    overflow: hidden;
}
#about>div:not(.content)>p>img{
    height: 100%;
    width: auto;
}

#about>div:nth-child(2){
    display: none;
}

#about>.content{
    justify-content: flex-end;
    box-sizing: border-box;
}

#about-me{
    width: 790px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

#about-me>div{
    flex: 40%;
    padding-left: 69.32px;
    position: relative;
}

#about-me>div:nth-child(5){
    margin-left: 15px;
}
#about-me>div:nth-child(7){
    margin-left: 15px;
}
/*---------------------------------icones-----------------------------*/

#about-me>div:nth-child(4):before{
  content: "\f0ac";
  font-family: "FontAwesome";
    font-size: 44pt;
    color: #2ecc71;
    position: absolute;
    left: 0;
}
#about-me>div:nth-child(5):before{
  content: "\f040";
  font-family: "FontAwesome";
    font-size: 44pt;
    color: #2ecc71;
    position: absolute;
    left: 0;
    margin-left: 10px;
}

#about-me>div:nth-child(6):before{
  content: "\f0c0";
  font-family: "FontAwesome";
    font-size: 44pt;
    color: #2ecc71;
    position: absolute;
    left: 0;
}
#about-me>div:nth-child(7):before{
  content: "\f0c6";
  font-family: "FontAwesome";
    font-size: 44pt;
    color: #2ecc71;
    position: absolute;
    left: 0;
    margin-left: 10px;
}


#about-me>p:nth-child(3){
    margin-bottom: 77px;
}

#about-me>div>h4{
    padding-bottom: 28px;
}

#about-me>div>p:nth-child(1){
    padding-bottom: 60px;
}

#about-me>div>p:nth-child(2){
    padding-bottom: 60px;
}






