

/* portfolio*/

 #portfolio .content{
display: flex;
height: 1395px;  
justify-content: space-between;
align-content: space-between;
  
}

#portfolio h3{
text-align: center; 
    
}

#portfolio p{
text-align: center;  
padding-bottom: 100px;

}



div.port {
background-color: #252e30;
   
}

nav> ul > li > a{
text-decoration:none;
font-size: 18px;
color: #919191;
    
}

nav> ul > li {
    padding-bottom: 10px;
}



.active{
color:white;
}

#portfolio h4{
color: #ffffff;
font-size: 18px;
padding-left: 40px;
padding-top: 40px;
}




/*hover des images du portfolio*/

.cache{
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 300px;
	background-color: rgba(43, 162, 95, 0.8);
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 300px;
	display: none;
}
.port {
	position: relative;
	cursor: pointer;
	width: 366px;
	height: 300px;
	overflow:hidden;

}

#portfolio > div > div:nth-child(3) {
    cursor:auto;
}


.port:hover .cache{
	display: block;
}


#portfolio a:hover{
    color:white;
}




/* contact*/


#contact {
    height: 905px;

}

.b-black {
    background-color: #252e30;
    height: 905px;
}

/*contact partie gauche*/

#contact h3 {
padding-bottom: 52px;
padding-top: 98px;
color: white;
}

#contact span {
    color:white;
    font-weight: bold;
}

#contact .content{

    align-content: space-between;
}

#contact p {
    font-size:18px;
    line-height: 34px;
    padding-right: 50px;
}

#contact .content div{
    width: 50%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
   
}

#contact .content form{
    width: 50%;
    justify-content: center;
    align-content: center;
    
}

#adresse {
    margin-top: 45px;
    margin-bottom: 45px;
}

label {
    display: block;
    color: white;
    padding-bottom: 16px;
}


input {
    display: block;
    background-color: #4b5456;
    margin-bottom: 40px;
    width:100%;
    border:none;
    height: 55px;
   
}

textarea#message {
    height: 275px;
    width: 100%;
    background-color: #4b5456;
    border: none;
    margin-bottom: 40px;
}

#button {
    
    color: white;
    padding:20px;
    width: 180px;
    background-color: #191f21;
}

#button:hover{
    color:green;
    cursor: pointer;
}


/*footer*/
footer.b-black {
    height:175px;
    background-color: #191f21;

}



footer p{
    width: 100%;
      
}

footer nav{
    display: flex;
  
}

footer .content {
    text-align: center;
    height: 175px;
    align-content: space-around;
}


footer nav {
    display: flex;
    width: 100%;
    padding-bottom;
    
}

footer p {
    padding-top: 50px;
    
}

footer nav ul{
text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    
}

footer nav ul li {
    display: block;
    padding: 8px;
}

#button:hover {
    color: #2ba25f;
    
}

footer a:hover {
    color: white;
    
}



i
{
 background-color:  #4b5456;
 border-radius: 100px;
 padding:10px;
color: #191f21;
}



