
.box-resume {
    display: flex;
    padding-top: 49px;
}

.box-resume > div {
    width:100%;
}

.box-resume > div > p {
    padding-bottom: 39px;
    line-height: 22pt;
}

.box-resume > div > div > h4 {
    padding-bottom: 20px;
}

.box-resume > div > div > p {
    padding-bottom: 20px;
    text-align: justify;
}

.box-resume > div > div >p:nth-child(3) {
    color: white;
    text-align: center;
    padding: 10px 11px 10px 8px;
    width: 71px;
    height: 29px;
    background-color: #2ecc71;
    margin-bottom: 30px;
}

.box-resume > div > div >p:nth-child(5) {
    padding-top: 28px;
    padding-bottom: 79px;
}

.box-resume > div:nth-child(1){
    padding-right: 73px;
}

.content > quote {
    font-size: 24pt;
    color: #919191;
    text-align: center;
}





